[submodule "first-year/MA124-Maths-by-Computer/Group Project/Notebook"]
	path = first-year/MA124-Maths-by-Computer/Group Project/Notebook
	url = https://github.com/DoctorDalek1963/ma124-group-project.git
